.vertical-box{
    background-color: #444f51;
    width: 300px; /* Set a width if you like */
    font-family: 'Ubuntu';
    font-size: 16px;
    border-radius: 5px;
    color: white;
    font-weight: 5px;
}

.in {
    width: 250px;
    background-color: #363e40;
    font-family: 'Ubuntu';
    font-size: 16px;
    border-radius: 5px;
    color: #bdbec0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    object-position: center;
    vertical-align: center;
}

.center{
    border-bottom: 20px;
    border-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    text-decoration: wavy;
}

.in:hover{
    border-color: #dd7500;
    border-width: 2px;
    border-style: solid;
}

input {
    background-color: #363e40;
    color: #bdbec0;
    border: 0ch;
}

.log {
    color: white;
    background-color: #a03033;
    border: 0px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 20px;
    padding: 20px;
    width: 150px;
    margin-bottom: 20px;
}

a {
    margin-left: auto;
    margin-right: auto;
    color: #bdbec0;
    display: block;
    text-decoration: none;
    align-content: center;
    text-align: center;
}

.fb {
    background-color: #3468af;
    color: white;
    border-bottom: 20px;
    align-content: center;
    border: 0px;
    width: 300px;
    height: 25px;
    vertical-align: middle;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}