ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
  }

  
  li {
    float: left;
    font-weight: 200;
    font-size: 1.5em;
  }
  
  li a {
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    filter: invert(1);
    background-color: #333;
  }

  #logo {
    margin-top: 0.2cm;
    margin-bottom: 0.5cm;
  }

  #div1 {
    float: left;
  }

  #div2 {
    float: left;
  }

  #menubar {
    clear: both;
  }

  #settings{
    float: right;
    vertical-align: middle;
  }

  #img-settings {
    vertical-align: top;
    margin-right: 12px;
  }

  #account{
    float: right;
    vertical-align: middle;
  }

  #img-account {
    vertical-align: top;
    margin-right: 12px;
  }
  #messages{
    float: right;
    vertical-align: middle;
  }

  #img-messages {
    vertical-align: top;
    margin-right: 12px;
  }
  #favorites{
    float: right;
    vertical-align: middle;
  }

  #img-favorites {
    vertical-align: top;
    margin-right: 12px;
  }

  #img-user {
    vertical-align: top;
    margin-right: 12px;
    border-radius: 150px;
    border: orangered 2px solid;
    
  }
  #img-user.hover {
    filter: invert(1);
  }

  #user.option{
    align-content: center;
  }

  #lista-usuario{
    background-color: #333;
    color: #f4f4f4;
    border: 0;
  }

  img.pequeña{
    max-width: 1em; max-height: 1em;
  }

  img.mediana{
    max-width: 100px; max-height: 100px;
  }

  img.grande{
    max-width: 200px; max-height: 200px;
  }

  .span-logo {
    display: inline-block;
    vertical-align: bottom;
  }

  /*dropdown hover content*/